<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <connectionStrings>
    <!-- Default / Fallback Database -->
    <add name="GymkhanaDB" connectionString="Data Source=.\LOCALHOST;Initial Catalog=MemberShip;Integrated Security=True;" providerName="System.Data.SqlClient" />

    <!-- Membership Module Databases -->
    <add name="MemberShipConnection" connectionString="Data Source=.\LOCALHOST;Initial Catalog=MemberShip;Integrated Security=True;" providerName="System.Data.SqlClient" />

    <!-- Member Billing Database -->
    <add name="MemberBillingConnection" connectionString="Data Source=.\LOCALHOST;Initial Catalog=Member_Billing;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="Member_Billing_ConnectionString" connectionString="Data Source=.\LOCALHOST;Initial Catalog=Member_Billing;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="MemberBillingConnectionString" connectionString="Data Source=.\LOCALHOST;Initial Catalog=Member_Billing;Integrated Security=True;" providerName="System.Data.SqlClient" />

    <!-- User Management Databases -->
    <add name="UserManagementConnection" connectionString="Data Source=.\LOCALHOST;Initial Catalog=User_management;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="Users_ConnectionString" connectionString="Data Source=.\LOCALHOST;Initial Catalog=User_management;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="UsersConnectionString" connectionString="Data Source=.\LOCALHOST;Initial Catalog=User_management;Integrated Security=True;" providerName="System.Data.SqlClient" />

    <!-- Basic Data & Employee Info Databases -->
    <add name="Basic_Data_ConnectionString" connectionString="Data Source=.\LOCALHOST;Initial Catalog=BasicDataInfo;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="BasicDataInfoConnectionString" connectionString="Data Source=.\LOCALHOST;Initial Catalog=BasicDataInfo;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="Reg_ConnectionString" connectionString="Data Source=.\LOCALHOST;Initial Catalog=BasicDataInfo;Integrated Security=True;" providerName="System.Data.SqlClient" />

    <!-- Finance Module Databases -->
    <add name="Finance_ConnectionString" connectionString="Data Source=.\LOCALHOST;Initial Catalog=Finance;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="FinanceConnectionString" connectionString="Data Source=.\LOCALHOST;Initial Catalog=Finance;Integrated Security=True;" providerName="System.Data.SqlClient" />

    <!-- Module Specific Databases -->
    <add name="GuestRoomDBConnectionString" connectionString="Data Source=.\LOCALHOST;Initial Catalog=GuestRoom;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="STOREConnectionString" connectionString="Data Source=.\LOCALHOST;Initial Catalog=STORE;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="RestaurantConnectionString" connectionString="Data Source=.\LOCALHOST;Initial Catalog=Restaurant;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="GymkhanaLibraryDB" connectionString="Data Source=.\LOCALHOST;Initial Catalog=GymkhanaLibraryDB;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <!-- Sports Management Database -->
    <add name="SportsConnString" connectionString="Data Source=.\LOCALHOST;Initial Catalog=SportsModuleDB;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="MemberShipConnString" connectionString="Data Source=.\LOCALHOST;Initial Catalog=MemberShip;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="BasicDataInfoConnString" connectionString="Data Source=.\LOCALHOST;Initial Catalog=BasicDataInfo;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" maxRequestLength="10240" />
    
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" timeout="2880" />
    </authentication>
    
    <customErrors mode="Off" defaultRedirect="~/Default.aspx" />
    
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
</configuration>